<footer class="container text-center mt-5">
   <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            oskar davis <span class="text-danger">&hearts; By</span> <a href="https://youtube.com">Tutoriel</a>
        </small>
   </p>
</footer>